.containerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.linkAbout {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.contentAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.titleAbout {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.subtitleAbout {
  font-size: 1.5rem;
  text-align: center;
  color: #777;
}

.iconsAbout {
  display: flex;
  justify-content: center;
}

.iconLinkAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #eee;
  transition: background-color 0.3s ease-in-out;
}

.iconLinkAbout:hover {
  background-color: #333;
}

.iconAbout {
  color: #333;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.iconAbout:hover {
  color: #fff;
}

.btnAbout {
  font-size: 1.5rem;
  color: #333;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50px;
  padding: 1rem 2.5rem;
  box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
  transition: all 0.3s ease-in-out;
}

.btnAbout:hover {
  transform: translateY(-5px);
  box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
}
